:root {
  --primary-color: #d8a3dd;
  --secondary-color: #f5ccd8;
  --teritary-color: #f8f9fa;
  --fourth-color: #c8c9c7;
  --background-color: #e3e5e6;

  --content: calc((100vw / 12) * 9.5);
  --small: calc((100vw / 12) * 0.5);
  --mid: calc(100vw / 12);
  --big: calc((100vw / 12) * 2);
}

body {
  font-family: "Croissant One", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
p {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}
h4 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

li {
  list-style: none;
  text-align: center;
}

.nav-link {
  color: var(--teritary-color);
  font-size: 15px;
  margin: 4px;
  padding: 10px;
}

.nav-link:hover {
  color: var(--primary-color);
  background-color: var(--teritary-color);
  border-radius: 10px;
}

i .nav-icon {
  size: 90px;
}

.sidebar {
  width: 300px;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  position: fixed;
  border-radius: 0;
  background-color: var(--primary-color);
  text-align: center;
  z-index: 1;
}

.sidebar:hover {
  width: 300px;
  background-color: rgba (216, 163, 221, 0.5);
}

.sidebar span {
  font-size: 20px;
}

.sidenav {
  box-shadow: inherit;
  opacity: 1;
  left: 0;
  transition: 0.2s ease-in-out;
}

.men {
  margin: 20% auto;
  width: fit-content;
}

men a {
  height: 30px;
  padding: 15px;
  display: flex;
  font-size: 80px;
  align-items: center;
  border-radius: 15px;
  white-space: nowrap;
  margin-right: 15px;
  cursor: pointer;
}

.active {
  color: var(--teritary-color);
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.contact-menu {
  display: grid;
  justify-content: center;
  grid-template-columns: 40px 40px;
  padding: 54px;
  justify-items: stretch;
  position: absolute;
  margin-top: 10px;
  bottom: 0;
  left: 0;
  margin-left: calc((100vw / 12) * 0.5);
  width: calc((100vw / 12) * 1.5);
}

.social-links a {
  margin: 0 20px 10px 0;
  font-size: 18px;
  color: white;
  background-color: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 60%;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  color: var(--secondary-color);
  background-color: var(--teritary-color);
}

.sec1 {
  padding: 30px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  margin-left: auto;
  margin-right: 0;
  width: var(--content);
}

.skill {
  padding: 10px;
  border: 6px solid var(--primary-color);
  border-radius: 10px;
}

.btn {
  background-color: var(--primary-color);
}

.btn-branding {
  background-color: var(--primary-color);
  border-radius: 15px;
  color: white;
  font-size: 19px;
  padding: 15px 20px;
}

.btn-branding:hover {
  color: var(--primary-color);
  background-color: var(--teritary-color);
}

.btn-branding-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.img-profile {
  width: 20vh;
  max-width: var(--big);
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 50%;
}

.project-img {
  size: 3px;
  border-radius: 10px;
}
.project-title {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: bold;
}
.project-text {
  font-size: 16px;
}

@media (min-width: 900px) {
  .sidebar {
    width: 200px;
  }
  .sec1 {
    padding: 20px;
  }
}
@media (max-width: 900px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  .sidebar:hover {
    display: none;
  }

  .sidebar span {
    font-size: 16px;
  }
  .men {
    margin: 0 auto;
  }

  .img-profile {
    display: none;
  }

  .contact-menu {
    display: none;
  }
}
@media (max-width: 700px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  h4 {
    font-size: 18px;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  .sidebar:hover {
    display: none;
  }

  .sidebar span {
    font-size: 16px;
  }
  .men {
    margin: 0 auto;
  }

  .img-profile {
    display: none;
  }

  .contact-menu {
    display: none;
  }

  .sec1 {
    padding: 10px;
    margin: 0 auto;
  }

  .project-img {
    size: 20px;
  }

  .project-text {
    display: none;
  }

  .btn {
    font-size: 18px;
  }

  .content {
    text-align: center;
    padding: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  img {
    width: 100px;
    display: block;
    margin: 0 auto;
  }
  .img-project {
    width: 300px;
  }

  .about-me-text {
    text-align: center;
  }
}
