:root {
  --primary-color: #d8a3dd;
  --secondary-color: #f5ccd8;
  --teritary-color: #f8f9fa;
  --fourth-color: #c8c9c7;
  --background-color: #f3ece1;
  --hero-color: #d8a3dd;

  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;

  --content: calc((100vw / 12) * 9.5);
  --small: calc((100vw / 12) * 0.5);
  --mid: calc(100vw / 12);
  --big: calc((100vw / 12) * 2);
}

body {
  font-family: var(--default-font-family);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
p {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}
h4 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

h3,
h5 {
  text-align: center;
}

li {
  list-style: none;
  text-align: center;
}

hr {
  margin: 30px;
}

.hero {
  background-color: var(--hero-color);
  text-align: center;
  padding: 100px 20px;
}
.hero h1 {
  color: var(--teritary-color);
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  line-height: 1.5;
  font-size: 24px;
}

.portfolio-area {
  background-color: var(--hero-color);
  padding: 30px 120px;
  border-radius: 10px;
}

.portfolio-area h1 {
  color: var(--teritary-color);
}

.project-description {
  padding: 50px 30px;
}

.nav-link {
  color: var(--teritary-color);
  font-size: 15px;
  margin: 4px;
  padding: 20px;
  transition: all 100ms ease-in-out;
}

.nav-link:hover {
  color: var(--primary-color);
  background-color: var(--teritary-color);
  border-radius: 10px;
}

i .nav-icon {
  size: 90px;
}

.sidebar {
  width: 250px;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  position: fixed;
  border-radius: 0;
  background-color: var(--primary-color);
  text-align: center;
  z-index: 1;
}

.sidebar span {
  font-size: 20px;
}

.sidenav {
  box-shadow: inherit;
  opacity: 1;
  left: 0;
  transition: 0.2s ease-in-out;
}

.sidebar-img {
  width: 20vh;
  max-width: var(--big);
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 50%;
}

.men {
  margin: 20% auto;
  width: fit-content;
}

men a {
  height: 30px;
  padding: 15px;
  display: flex;
  font-size: 80px;
  align-items: center;
  border-radius: 15px;
  white-space: nowrap;
  margin-right: 15px;
  cursor: pointer;
}

.active {
  color: var(--teritary-color);
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.contact-menu {
  display: grid;
  justify-content: center;
  grid-template-columns: 40px 40px;
  padding: 54px;
  justify-items: stretch;
  position: absolute;
  margin-top: 10px;
  bottom: 0;
  left: 0;
  margin-left: calc((100vw / 12) * 0.5);
  width: calc((100vw / 12) * 1.5);
}

.social-links a {
  margin: 0 20px 10px 0;
  font-size: 18px;
  color: white;
  background-color: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 60%;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  color: var(--secondary-color);
  background-color: var(--teritary-color);
}

.sec1 {
  padding: 10px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  margin-left: auto;
  margin-right: 30px;
  width: var(--content);
}

.skill-area {
  background-color: var(--hero-color);
  padding: 20px 80px;
  margin-top: 20px;
  border-radius: 10px;
  color: white;
}

.skill-area h3 {
  color: white;
}

.btn {
  color: white;
  font-family: var(--heading-font-family);
  background-color: var(--primary-color);
  border-radius: 15px;
  font-size: 19px;
  padding: 15px 20px;
}
.btn:hover {
  background-color: var(--teritary-color);
  color: var(--primary-color);
}

.btn-branding-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  padding: 15px 30px;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.project-img {
  width: 380px;
  margin-left: 80px;
  padding: 6px;
  border-radius: 10px;
}
.project-title {
  font-size: 30px;
  color: var(--primary-color);
  font-weight: bold;
}
.project-text {
  font-size: 18px;
  color: #595c5f;
}

@media (max-width: 900px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  .sidebar-img {
    display: none;
  }
  .sidebar span {
    font-size: 16px;
  }
  .men {
    margin: 0 auto;
  }

  .sec1 {
    margin-right: auto;
  }
  .portfolio-area {
    padding: 0;
  }
  .portfolio-area h1 {
    font-size: 70px;
  }

  .project-img {
    width: 500px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  h4 {
    font-size: 18px;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sec1 {
    padding: 20px;
  }

  .sidebar a {
    float: left;
  }

  .sidebar span {
    font-size: 16px;
  }

  .portfolio-area {
    padding: 0px;
  }

  .men {
    margin: 0 auto;
  }

  .sidebar-img {
    display: none;
  }

  .contact-menu {
    display: none;
  }

  .sec1 {
    padding: 10px;
    margin: 0 auto;
  }

  .project-img {
    size: 20px;
  }

  .project-text {
    display: none;
  }

  .btn {
    font-size: 18px;
  }

  .content {
    text-align: center;
    padding: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  img {
    width: 100px;
    display: block;
    margin: 0 auto;
  }

  .about-me-text {
    text-align: center;
  }
}
