:root {
  --primary-color: #d8a3dd;
  --secondary-color: #f3cad6;
  --teritary-color: #f8f9fa;
  --fourth-color: #c8c9c7;
}

body {
  font-family: "Croissant One", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
}

header,
h2,
h3,
h4,
footer {
  text-align: center;
}

header {
  color: var(--teritary-color);
  font-size: 70px;
  margin-top: 60px;
}

h1,
h2,
h3 {
  color: var(--teritary-color);
}

h1 {
  font-size: 50px;
  text-decoration: underline;
  margin: 20px;
}

h3 {
  font-size: 48px;
}

li {
  list-style: none;
}

h4 a {
  color: var(--primary-color);
}

small {
  text-decoration: underline;
}

img {
  width: 250px;
  display: flex;
  margin: 0 auto;
  border-radius: 40%;
  margin-top: 20px;
}
p {
  opacity: 0.25;
}

hr {
  border: 2px solid white;
}

.navbar {
  background-color: var(--primary-color);
  margin: 10px;
}

.nav-link {
  color: var(--teritary-color);
}

.nav-link:hover {
  color: var(--primary-color);
  background-color: var(--teritary-color);
}

.nav-link active {
  color: var(--primary-color);
  margin: 4px;
  border: 2px solid var(--secondary-color);
  border-radius: 4px;
}

.navbar:hover {
  color: var(--teritary-color);
  cursor: pointer;
  border-radius: 4px;
}

.logo {
  width: 40px;
}

.card {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.card-img-top {
  width: 280px;
}

.btn {
  background-color: #9053ed;
}
.home {
  width: 30px;
  margin-left: 21px;
  border: none;
}

.contact-info {
  margin-bottom: 200px;
}

footer {
  position: fixed;
  text-align: center;
  left: 0;
  bottom: 0;
  opacity: 0.4;
  padding: 4px;
  margin: 10px;
  border-top: 4px solid white;
}
