:root {
  --primary-color: #d8a3dd;
  --secondary-color: #f5ccd8;
  --teritary-color: #f8f9fa;
  --fourth-color: #c8c9c7;
  --background-color: #e3e5e6;
}

body {
  font-family: "Croissant One", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
}

header,
h2,
h3,
h4,
.skills,
footer {
  text-align: center;
}

header {
  color: var(--teritary-color);
  font-size: 70px;
  margin-top: 60px;
}

h1,
h2,
h3 {
  color: var(--teritary-color);
}

h1 {
  font-size: 40px;
  text-decoration: underline;
  margin: 20px;
}

h3 {
  font-size: 38px;
}

li {
  list-style: none;
}

h4 a {
  font-size: 28px;
  color: var(--primary-color);
}

small {
  text-decoration: underline;
}

img {
  width: 400px;
  display: flex;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 20px;
  border: 2px solid white;
}

.img-icon {
  width: 300px;
  display: flex;
  margin: 0 auto;
  border-radius: 40%;
  margin-top: 20px;
}

.contact-icon {
  width: 50px;
  display: block;
  margin: 0 auto;
}

p {
  line-height: 1.5;
}

hr {
  border: 2px solid white;
}

.link {
  color: white;
  text-decoration: none;
}

.btn {
  border: 3px solid white;
}

.navbar {
  background-color: var(--primary-color);
  margin: 10px;
}

.navbar-brand {
  color: white;
  font-size: 24px;
  font-style: bold;
}

.nav-link {
  color: white;
  font-size: 15px;
  margin: 4px;
  border: 2px solid var(--secondary-color);
}

.nav-link:hover {
  color: var(--primary-color);
  background-color: var(--teritary-color);
}

.nav-link active {
  color: var(--primary-color);
  margin: 4px;
  border: 2px solid black;
  border-radius: 4px;
}

.navbar:hover {
  color: var(--teritary-color);
  cursor: pointer;
  border-radius: 4px;
}

.logo {
  width: 40px;
}

.btn {
  background-color: #9053ed;
}

.home {
  width: 30px;
  margin-left: 21px;
  border: none;
}

.contact-info {
  margin-bottom: 480px;
}

.personal-summary {
  font-size: 22px;
  color: #9053ed;
  text-align: center;
  margin-bottom: 10px;
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 8px;
}

ul {
  font-size: 17px;
  color: #9053ed;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 4px;
}

.skills {
  font-size: 40px;
  background-color: var(--background-color);
  border-radius: 8px;
}

footer {
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 6px;
  opacity: 0.4;
  padding: 4px;
  border-top: 4px solid white;
}

@media (max-width: 600px) {
  header {
    font-size: 60px;
    margin-top: 20px;
  }
  h1 {
    font-size: 30px;
  }
  strong {
    font-size: 63px;
  }
  .img-icon {
    width: 200px;
    border-radius: 8px;
    margin-top: 0;
  }

  .header-icon {
    display: none;
  }

  .index-info {
    font-size: 14px;
  }
  .personal-summary {
    font-size: 18px;
  }
  .navbar-brand {
    font-size: 20px;
  }
  .nav-link {
    font-size: 14px;
  }

  footer {
    font-size: 12px;
  }
}
