:root {
  --primary-color: #d8a3dd;
  --secondary-color: #f3cad6;
  --teritary-color: #f8f9fa;
  --fourth-color: #c8c9c7;
}

body {
  font-family: "Croissant One", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
  text-align: center;
}

header {
  color: var(--teritary-color);
  font-size: 70px;
  margin-top: 60px;
}
h1 {
  font-size: 50px;
  text-decoration: underline;
  margin-top: 20px;
}

h2 {
  color: var(--teritary-color);
  margin-top: 10px;
}

small {
  text-decoration: underline;
}

img {
  width: 250px;
  display: flex;
  margin: 0 auto;
  border-radius: 60%;
  margin-top: 20px;
}
p {
  opacity: 0.25;
}

.navbar {
  background-color: var(--primary-color);
  margin-top: 10px;
}

.navbar a {
  color: var(--teritary-color);
}

.navbar a:hover {
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

footer {
  opacity: 0.4;
  margin-top: 20px;
}

.logo {
  width: 40px;
  text-align: center;
}

.logo-top {
  width: 10px;
}
